.playwright-browsers/** filter=lfs diff=lfs merge=lfs -text
**/chrome filter=lfs diff=lfs merge=lfs -text
**/headless_shell filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.jsonl filter=lfs diff=lfs merge=lfs -text
group_4/code/.playwright-browsers/chromium-1148/chrome-linux/chrome filter=lfs diff=lfs merge=lfs -text
group_4/code/.playwright-browsers/chromium_headless_shell-1148/chrome-linux/headless_shell filter=lfs diff=lfs merge=lfs -text
group_4/code/data/2WikiMultihopQA/jsonl/train.jsonl filter=lfs diff=lfs merge=lfs -text
